.container{
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 4fr 1fr;
    align-items: center;
    justify-content: space-around;
}

.slide{
    display: grid;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.sides{
    width: 150px;
}

.main{
    width: 300px;
}

.images{
    width: 100%;
    border-radius: 5px;
    border: 2px solid white;
}

.next, .prev{
    cursor: pointer;
}


.center{
    display: grid;
    justify-content: center;
    align-items: center;
}
