* {
    margin: 0;
    padding: 0;
  }

.block1{
<<<<<<< HEAD
    width: 100%;
    height: 650px;
}

.back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}

.outer{
    background-color: black;

=======
    background-image: url('../../assets/nightKing.jpg');
    background-size: cover;
    width: 100%;
    height: 650px;
    /* position: absolute; */
>>>>>>> f66adb7c21c8768d3af7246a6d93ac34da9c1395
}

.header{
    padding-top: 200px;
    padding-left: 100px;
    font-size: 30px;
    color: white;
<<<<<<< HEAD
}

.block2{
    background-image: url('../../assets/nightDragon.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 1;
    display: grid;
    grid-template-columns: 1.4fr 3fr;
}

.left{
    background-color: black;
    /* width:35%; */
    /* height: 100%; */
    border: 2px solid white;
}

.north{
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

.right{
    /* background-color: black; */
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}


.buy{
    color: white;
    font-size: 35px;
    z-index: 2;
    /* transition: all .5s; */
    cursor: pointer;
    padding: 5px;
    
    padding: 10px;
    border: 2px solid  rgb(182, 182, 182);
    border-radius: 5px;
}

.buy:hover{
    background-color: rgba(92, 92, 92, 0.5);
    
}

.block3{
    background-size: cover;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: black; */
}

.card2{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/starks.jpg');
    background-size: cover;
    position: relative;
}

.card3{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/lannisters.jpg');
    background-size: cover;
    position: relative; 
}

.card1{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/targariyan.jpg');
    background-size: cover;
    position: relative;
}


.house{
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}

.house:hover{
    opacity: 0;
}

.block4{
    background-color: rgb(24, 27, 32);
    width: 100%;
    height: 500px;
}

.sale{
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 40px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    display: grid;
    align-items: center;
    justify-content: center;
}

.sword{
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
}

.drogon{
    width: 300px;
    border-radius: 5px;
    border: 2px solid white;
}

.wine{
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
}

.block5{
    background-image: url('../../assets/bob.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
}

.footer{
    padding: 60px;
    color: white;
=======
>>>>>>> f66adb7c21c8768d3af7246a6d93ac34da9c1395
}