.container{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    height: 100vh;
    overflow: auto;
}

.rightContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}


.middle{
    background-color: #0B0B0B;
    color: #5C5C5C;
    padding: 50px;
    text-align: center;
}

.right{
    background-color:#252525;
}

.logo{
    height: 100%;
    background-color: black;
}

.ironThrone{
    width: 200px;;
}

.form{
    margin: 100px;
    text-align:center;
}

.input{
    padding: 5px;
    border: 1px solid #707070;
    border-radius: 5px;
    margin:10px;
    height: 25px;
    width: 55%;
    background-color:#D4D1D1;
}

.input:hover{
    background-color: white;
}

.button{
    width: 150px;
    padding: 2px;
    background: transparent;
    border: 1px solid #707070;
    color: #707070;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: large;
    border-radius: 5px;
    /* text-transform: uppercase; */
    cursor: pointer;
}

.button:hover{
    background-color:#707070;
    color: white;
}