.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
<<<<<<< HEAD
    /* padding: 18px; */
=======
    padding: 18px;
>>>>>>> f66adb7c21c8768d3af7246a6d93ac34da9c1395
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    top:0;
    width: 100%;
}

<<<<<<< HEAD
.title{
    padding: 15px;
}

=======
>>>>>>> f66adb7c21c8768d3af7246a6d93ac34da9c1395
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
<<<<<<< HEAD

.tab{
    cursor: pointer;
    text-align: center;
    padding: 0px 2px;
    transition: all .2s;
    opacity: 0.7;
    padding: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.tab:hover{
    /* background-color: black; */
    border-bottom: 2px solid white;
    opacity: 1;
}
=======
>>>>>>> f66adb7c21c8768d3af7246a6d93ac34da9c1395
