.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    top:0;
    width: 100%;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
